
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <h3>Plan Adı: @ViewBag.v1</h3>
    <h4>Kişi Sayısı: @ViewBag.v2</h4>
    <h4>Plan Fiyatı: @ViewBag.v3</h4>
    <h4>Plan İçeriği: @ViewBag.v4</h4>
    <h4>Plan Çözünürlüğü: @ViewBag.v5</h4>
    <br />
    <a href="/Default/BasicPlanIndex/" class="btn btn-outline-dark">Temel Plan</a>
    <a href="/Default/StandartPlanIndex/" class="btn btn-outline-danger">Standart Plan</a>


</div>
